.carousel ul {
  display: flex;
  flex-wrap: wrap;
}
.carousel ul li {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  width: 20%;
  justify-items: center;
  align-items: center;
}
.list {
  display: flex;
  justify-content: center;
}
.list li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #7f7f7f;
  margin: 5px 5px;
}
.list .active {
  background: #e9203d;
}
